.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
  }
.header-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.4rem;
    padding: 0.8rem;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 13px;
    color: #fff;
    background-color: black;
    height: 36px;
    width: 66px;
    text-align: center;
    font-size: 0.8rem;
  }
  
.header-container a:hover {
    border: 1px solid #9987db;
    color: #9987db;
  }